@charset "utf-8";
body{width:100%; height:100%; margin:0; padding:0; font-family:"微軟正黑體"; font-size:14px; line-height:1.42857143;}
html{width:100%; height:100%; min-width:310px;}
.warpper{max-width:640px; margin:0 auto;}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}/* Hides from Ie-mac \*/
* html .clearfix{height:1%;}/* end hide from Ie-mac */
a{text-decoration:none;}
.slicknav_menu{display:block;}
img{border:0;}

header{padding-top:0px;}
.head-main{height:70px; padding:0 10px; }


@media screen and (max-width:330px){
	.tel{ font-size:18px; }
}

.head-tool{float:none; width:310px; position:static; margin:0 auto;}
.home{display:none;}
.home_w{display:block; width:30px; height:auto;}
.m-banner{width:100%; overflow:hidden; position:relative; z-index:1000;}
.m-banner img{position:absolute; top:-50%;}
.banner img{width:100%;}
.oproject{display:inline; color:#900;}



/* 訂單列表 */
.order-search{padding-left:0px;}
ul.order-list li.th{display:none;}
.order-list{padding-left:0px;}
.order-list-img, .order-list-img02{float:left; width:100%; font-size:15px; text-align:center;}
.order-list-img{height:auto;}
.order-list-img img.pro-photo{width:86%; max-width:180px; height:auto; padding:2%; border:1px #ccc solid; margin:5%; text-align:center;}
.order-list .order-list-td{font-size:15px; color:#333; text-align:left;}
.order-list-name{float:; width:100%; padding-top:0PX; font-size:15px; text-align:center;}
.order-list-price{float:left; width:100%; padding-top:0PX; font-size:15px; text-align:center;}
.order-list-quantity, .order-list-quantity02{float:left; width:100%; padding-top:0PX; font-size:15px; text-align:center;}
.order-list-subtotal, .order-list-subtotal02{float:left; width:100%; padding-top:0PX; font-size:15px; text-align:center;}
.order-list-del{float:left; width:100%; padding:20PX 0; font-size:15px; text-align:center;}
.order-list-del a{padding:5px 10%;}
.order-list .portal{width:100%; text-align:center;}
.order-list .freight{width:100%; text-align:center;}
.order-list .oproject{font-size:15px; color:#000; display:inline;}
.order-ditaile-info{padding:0;}

/* 購物車 */
ul.shopping-car-list li.th{display:none;}
.shopping-car{padding-left:0;}
.shop-car-img{width:auto; max-width:100%; height:auto; text-align:center; margin-bottom:10px; display:block;}
.shop-car-img img.pro-photo{width:86%; max-width:180px; height:auto; padding:10px; border:1px solid #ccc; margin:10px; text-align:center;}
.shop-car-name{float:none; display:block; width:100%; padding-top:0PX; font-size:15px; text-align:center;}
.shop-car-price{width:100%; padding-top:0PX; font-size:15px; text-align:center;}
.shop-car-quantity{width:100%; padding-top:0PX; font-size:15px; text-align:center;}
.shop-car-subtotal{width:100%; padding-top:0PX; font-size:15px; text-align:center;}
.shop-car-del{width:100%; padding:20PX 0; text-align:center;}
.shop-car-del a{padding:5px 10%;}
.shopping-car .portal{width:100%; text-align:center;}
.shopping-car .freight{width:100%; text-align:center;}
.shopping-car .oproject{font-size:15px; color:#000; display:inline;}
.checkout-box{background:#f4f3f0; padding:10px; margin-left:0px; border-bottom:2px dotted #fff;}

/* 產品專區 */
.pro-store-info{padding:10px 0 10px 0px;}
.pro-list ul li{width:98%; padding:1%;}
.pro-detaile{padding-left:0px;}
.pro-qr-code{text-align:center; padding-bottom:20px;}
.pro-qr-code img{width:200px; height:auto;}
.cart-info .price{font-size:28px; text-align:center; display:block; padding:10px 0 20px;}
.cart-info .quantity{text-align:center;}
.cart-info .check-out{text-align:center; clear:both; display:block;}
.cart-info .check-out a{font-size:15px; width:100%; padding:10px 0px; margin-left:0px; display:block;}

/* 聯絡我們 */
.contact-body{padding:0;}
.contact-left{max-height:200px; overflow:hidden; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;}
.contact-left img{width:100%; height:auto; margin-top:10px;}

/* 內頁架構 */
.left-menu-title{font-size:15px; border-top:1px dotted #999;}

/* 首頁產品 */
.index-pro ul li{width:98%; padding:1%; text-align:center; float:left;}

/* 首頁連結 */
.index-link ul li{float:left; width:50%; margin:0; padding:0; border:0;}



/* 會員登入 */
h3.login-title{margin:10px 0 10px 0; font-family:"Times New Roman"; font-size:30px; line-height:30px; color:#9B9B9B; text-align:center;}
.login-tool{text-align:center;}
.icon-tool{width:40px; height:auto; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
.member-signup{font-size:14px; color:#828282; line-height:20px; padding:5px 0; text-align:center;}

/* 版面欄位 */
.main{padding:0px;}
.col-m{width:100%; margin-right:0%; float:none;}
.col-015, .col-020, .col-025, .col-030, .col-035, .col-040, .col-045, .col-050, .col-055, .col-060, .col-065, .col-070, .col-075, .col-080, .col-085{width:100%; margin-right:0%;}
.cor-015, .cor-020, .cor-025, .cor-030, .cor-035, .cor-040, .cor-045, .cor-050, .cor-055, .cor-060, .cor-065, .cor-070, .cor-075, .cor-080, .cor-085{width:100%;}
@media screen and (max-width:640px){
	.slicknav_menu{display:block;}
	.js #menu{display:none;}
	.js .slicknav_menu{display:block;}
}
.menu{list-style:none;}
.menu li{color:#fff; width:100%; text-align:center; float:none;}

/* 訂位區塊 */
.info-box{font-size:14px; color:#7e7e7e; line-height:20px;}

/*** 定位-選項-時段 ***/
.order-opinion{width:100%; margin-right:0; float:none;}
.time{width:100%; float:none;}
.time ul li{margin:1% 1% 0 0; width:24%;}



/* 頁次 */	
.page{height:100px;}
.page br{display:block;}

/* 底部資訊 */
.bottom-info-main h3{font-size:15px; color:#fff; border-bottom:1px #d4a0a0 solid; line-height:40px; margin-top:0;}
footer .copytight{text-align:center; text-shadow:0 0 0 #2d2d2d;}
footer .copytight .footer-logo{float:none; margin-right:0;}